.productlisting__page {
  width: 95%;
  margin: 0 auto;
  display: flex;
}
.product__listing__card {
  display: grid;
//   justify-content: space-between;
// row-gap: 1rem;
column-gap: 3rem;
grid-template-columns: repeat(3,1fr);
  margin-top: 20px;
//   flex-wrap: wrap;
}

.page__listing__title {
//   position: absolute;
    width: 299px;
    height: 68px;
    margin-left: 3rem;
//   // left: calc(50% - 299px/2 - 469.5px);
//   // top: calc(50% - 68px/2 - 562.5px);

//   /* Heading / Desktop / H2 */

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
//   /* identical to box height, or 67px */

//   display: flex;
//   align-items: center;
}
