.nav__bar{
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
    

    .category__link{
        a{
            color: #1D1F22;
            display: inline-block;
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            margin: 32px 32px;
            line-height: 120%;
        }
        .active{
            color: #5ECE7B;
            font-weight: 700;
            padding-bottom: 10px;
            border-bottom: 2px solid #5ECE7B;
        }
        
    }

    .logo__section{
        margin-left: -60px;
    }


    .nav__action{
        .logo__btn{
            border: none;
            background: none;
            margin: 32px 32px;
        }
        .cart__img{
            width: 20px;
            height: 20px;
            cursor: pointer;

        }
        .cart__items{
            position: absolute;
            background-color: #1f2021;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            font-size: 10px;
            color: white;
            // display: flex;
            display: block;
            margin-top: -30px;
            margin-left: 15px;
        
            place-items: center;
            align-items: center;
            
        }

        select{
            width: 100px;
            height: 30px;
            border: none;
            outline: none;
            background: none;
            font-size: 16px;
            font-weight: 400;
            color: #1D1F22;
            margin: 32px 32px;
            option{
                color: #1f2021;
            }
        }
        select:focus{
            outline: none;
            border: none;
        }
    }
}

